.contact {
  position:relative;
  height:50vh;
  padding-top:300px;
  color:white;
  margin-bottom:0;
  background-image:url("../images/contact.png");
  background-size:cover;
  text-align:center;
  padding-bottom:100px;
}

.contact h3 {
  margin-bottom: 30px;
}
.contactbar {
  font-size:3em;
}

.contact .logo {
  position:absolute;
  top:120px;
  left:50%;
  transform:translateX(-50%);
}
