body, p, h1, h2, h3, section {
  font-family: 'Fira Sans', sans-serif;
  padding:0;
  margin:0;
}
html {
  background-color:#717a8a;
}

h1 {
  padding:0;
  margin:0;
  letter-spacing: .1em;
  font-size:6em;
}

h1 > b {
  color:#21d44f;
}

h2 {
  color:white;
  font-size:4em;
  text-transform: uppercase;
}

h2 > b {
  color: #bdc6d4;
}

h3 {
  font-size:2em;
  color:white;
}
h3 > a {
  color: #bec7d4;
  font-size: .9em;
  text-decoration:none;
}

p {
  line-height:1.9em;
}

.logo {
    text-decoration: none;
    cursor:pointer;
}
.logo.small {
  transform:scale(.5) translateX(-50%) translateY(-50%);
  cursor:pointer;
}

.logo::after{
  display:block;
  cursor:pointer;
  content: "S";
  color:white;
  font-size:6em;
  line-height:80px;
  text-align:center;
  width:80px;
  height:80px;
  border-radius:40px;
  background-color:#21d44f;
}
