.portfolio {
  background-color:#4e5466;
  height:100vh;
  text-align:center;
  padding-top:150px;
  box-shadow: 0 8px 20px -4px rgba(0,0,0,.4);
  transform:translateZ(1px);
}

.portfolio h2 {
  margin-bottom: 10px;
}

.portfolio h3 {
  margin-bottom: 35px;
}

.gallery {
  width:1050px;
  display:flex;
  flex-direction:row;
  margin-left:auto;
  margin-right:auto;
}
.gallery a{
  display:block;
  width:350px;
  height:350px;
  overflow: hidden;
}

.gallery a:after {
  content: " ";
  display:block;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0);
  transition: all .5s;
}

.gallery a:hover:after {
  content: " ";
  display:block;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.4);
}


.gallery .didit {
  background-size:cover;
  background-image:url("../images/portfolio/didit.png");
}

.gallery .baseball {
  background-size:cover;
  background-image:url("../images/portfolio/baseball4.png");
}

.gallery .velocity {
  background-size:cover;
  background-repeat: no-repeat;
  background-image:url("../images/portfolio/velocity2.png");
}
